header{
  position: fixed;
  width: 100%;
}
nav{
  background: white;
  padding: 2.5% 7%;
}
nav a{
  color: gray !important;
}
.logo{
  width: 80%;
  
}
#viaja{
  background-image: url(../img/taxi.jpg);
  height: 600px;
}
