header{
  position: fixed;
  width: 100%;
  z-index: 1;
}
nav{
  background: white;
  padding: 2.5% 7%;
}
nav a{
  color: gray !important;
}
.logo{
  width: 90%;
}
.logoBlanco{
  width: 18%;
}
#viaja{
  background-image: url(../img/taxi2.jpg);
  height: 690px;
  background-size: cover;
  color:white;
  padding-top: 16%;
}
h4>small{
  color: white !important;
  background-color: #F8AA02;
  padding: 10%;
}
h4{
  margin: -52px 0 40px;
}
.page-header{
  margin-bottom: 40px;
}
.btn{
  color: black;
  background: white;
  margin-top: 1%;
}
.jumbotron{
  background-color: #F8AA02;
  border-radius: 0 !important;
}
#app, #tarifas{
  background: #F8AA02;
  padding: 4.5%;
}
#app p, #app h2{
  color: white;
  padding: 3%;
}
.bordeSecApp{
  border: 2px solid white;
  padding: 2.5%;
}
#conduce{
  background-image: url(../img/conduce.jpg);
  background-size: cover;
}
.secConduce{
  background: rgba(7,0,23,.6);
  height: 400px;
  color: white;
}
.secConduce>h2{
  margin: 30% 5% 5%;
}
.secConduce>button{
  background: #F8AA02;
  color: white;
}
.alinear{
  margin: 0 5% 5%;
}
.col-center{
    float: none;
    margin: 0 auto;
}
#tarifas{
  color:white;
}
.form-control{
  border-radius: 5px;
  border: 1px solid white;
  background-color:#F8AA02 ;
}
.btn{
  border-radius: 0px;
  color: #242424;
}
.marginTop{
  margin-top: 7%;
}
.thumbnail{
  background: none;
  border-radius: 0px;
  padding: 7px;
}
